<%- include('../partials/header.ejs') %>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body">
                    <section>
                        <h3>
                            <%= post.title %>
                        </h3>
                        <div class=" d-flex">
                            <small>
                                <%= moment(post.createdAt) %> |
                                    Posted By - <strong>
                                        <a href="/author/<%= post.author._id %> ">
                                            <%= post.author.username %>
                                        </a>
                                    </strong>|
                                    <%= post.readTime %>
                            </small>
                            <% if (user) { %>

                                <span class="ml-auto bookmark " data-post="<%= post._id %>">
                                    <% if (bookmarks.includes(post._id)) { %>
                                        <i class="fas fa-bookmark"> </i>
                                        <% }else { %>
                                            <i class="far fa-bookmark"> </i>
                                            <% } %>

                                </span>
                                <% } %>

                        </div>
                        <% if (post.thumbnail) { %>
                            <img src="<%= post.thumbnail %> " class="img-fluid" alt="">

                            <% } %>

                                <section class="mt-3">
                                    <%- post.body %>
                                </section>
                                <section class="my-5">
                                    <% if(!user) {%>

                                        <button disabled class="btn btn-success btn-sm ">Like (<%= post.likes.length %>
                                                )</button>
                                        <button disabled class="btn btn-danger btn-sm ">Like (<%= post.dislikes.length
                                                %>
                                                )</button>
                                        <p class="text-center text-muted mt-5">To Like and comment Please <a
                                                href="/auth/login">Login</a></p>
                                        <% }else { %>
                                            <button class="btn btn-success btn-sm" id="likeBtn"
                                                data-post="<%= post._id %> ">
                                                <%= post.likes.includes(user._id) ? 'Liked' : 'Like' %> ( <%=
                                                        post.likes.length %> )
                                            </button>
                                            <button class="btn btn-danger btn-sm" id="disLikeBtn"
                                                data-post="<%= post._id %> ">
                                                <%= post.dislikes.includes(user._id) ? 'Disliked' : 'dislike' %> ( <%=
                                                        post.dislikes.length %> )
                                            </button>
                                            <div class="mt-5" style="display: flex; flex-direction: column">
                                                <label for="comment">Leave A Comment</label>
                                                <input type="text" class="form-control" id="comment"
                                                    placeholder="Press Enter to Submit" data-post="<%= post._id %> ">
                                            </div>
                                            <div class="mt-5" id="comment-holder">

                                                <% if(post.comments.length===0){ %>
                                                    <p class="text-center text-muted">There is No Comment</p>
                                                    <% }else { %>
                                                        <% for( let comment of post.comments.reverse() ) { %>
                                                            <% console.log(comment) %>
                                                                <div class="media">

                                                                    <img class="mr-3 img-fluid"
                                                                        src="<%=comment.user.profilePics %> "
                                                                        style="width: 40px; border-radius: 20px">
                                                                    <div class="media-body">
                                                                        <%= comment.body %>

                                                                            <div class="media mt-3">
                                                                                <% if (comment.replies.length> 0) { %>
                                                                                    <% for( let rep of comment.replies )
                                                                                        { %>
                                                                                        <img class="mr-3"
                                                                                            style="width: 40px; border-radius: 20px"
                                                                                            src="<%= rep.user.profilePics %> ">


                                                                                        <div class="media-body">
                                                                                            <p>
                                                                                                <%= rep.body %>
                                                                                            </p>
                                                                                        </div>
                                                                                        <% } %>
                                                                                            <% } %>


                                                                            </div>
                                                                    </div>
                                                                </div>

                                                                <% } %>
                                                                    <% } %>
                                            </div>
                                            <% } %>
                                </section>
                    </section>

                </div>

            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>

        <script src="/scripts/singlePage.js"></script>

        </body>

        </html>
