<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card card-body my-3 p-3">
                            <h4>
                                <%= title %>
                            </h4>
                            <div class="profile_pic">
                                <img src="<%=user.profilePics %>" alt="Profile Picture"
                                    class="image-thumbnail img-fluid" id="profilePics">
                                <form action="/uploads/profilePics" class="my-2" id="profilePicsForm">
                                    <input type="file" name="profilePics" accept="image/*" id="profilePicsFile">
                                    <input type="button" value="Remove Pics" class="btn btn-danger my-2"
                                        id="removeProfilePics"
                                        style="display: <%= user.profilePics.includes('default.png') ? 'none' : 'block' %> ">
                                </form>
                                <form action="/dashboard/edit-profile" method="POST">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" placeholder="Enter Your Name" id="name"
                                            value="<%= profile.name %> "
                                            class="form-control <%= errors.name ? 'is-invalid' : ''  %> ">
                                        <div class="invalid-feedback">
                                            <%= errors.name ? errors.name : '' %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" placeholder="<%= user.email %> " id="email"
                                            class="form-control" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" placeholder="Enter Your Short Title" id="title"
                                            value="<%= profile.title %> "
                                            class="form-control <%= errors.title ? 'is-invalid' : ''  %> ">
                                        <div class="invalid-feedback">
                                            <%= errors.title ? errors.title : '' %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bio">Bio</label>
                                        <textarea name="bio" id="bio" cols="30" rows="3" id="bio"
                                            class="form-control <%= errors.bio ? 'is-invalid' : ''  %> "><%= profile.bio %></textarea>
                                        <div class="invalid-feedback">
                                            <%= errors.bio ? errors.bio : '' %>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <span>Enter Your Social Links</span>
                                        <div class="input-group mb-3 mt-1">
                                            <span style="width: 40px;" class="input-group-text" id=""><i
                                                    class="fa-brands fa-facebook-f"></i></span>
                                            <input type="text" name="facebook" value="<%= profile.links.facebook %> "
                                                class="form-control <%= errors.facebook ? 'is-invalid' : ''  %> "
                                                placeholder="facebook">
                                            <div class="invalid-feedback">
                                                <%= errors.facebook ? errors.facebook : '' %>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3 mt-1">
                                            <span style="width: 40px;" class="input-group-text" id="basic-addon1"><i
                                                    class="fa-brands fa-twitter"></i></span>
                                            <input type="text" name="twitter" value="<%= profile.links.twitter %> "
                                                class="form-control <%= errors.twitter ? 'is-invalid' : ''  %> "
                                                placeholder="twitter">
                                            <div class="invalid-feedback">
                                                <%= errors.twitter ? errors.twitter : '' %>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3 mt-1">
                                            <span style="width: 40px;" class="input-group-text" id="basic-addon1"><i
                                                    class="fa-brands fa-linkedin-in"></i></span>
                                            <input type="text" name="linkedin" value="<%= profile.links.linkedin %> "
                                                class="form-control <%= errors.linkedin ? 'is-invalid' : ''  %> "
                                                placeholder="linkedin">
                                            <div class="invalid-feedback">
                                                <%= errors.linkedin ? errors.linkedin : '' %>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3 mt-1">
                                            <span style="width: 40px;" class="input-group-text" id="basic-addon1"><i
                                                    class="fa-brands fa-internet-explorer"></i></span>
                                            <input type="text" name="website" value="<%= profile.links.website %> "
                                                class="form-control <%= errors.website ? 'is-invalid' : ''  %> "
                                                placeholder="website">
                                            <div class="invalid-feedback">
                                                <%= errors.website ? errors.website : '' %>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary">
                                </form>



                                <!------------------ Modal --------------------->


                                <!-- Modal -->
                                <div class="modal fade crop-modal" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div id="cropped-image"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="cancel-cropping" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"
                                                    id="upload-image">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!------------------ End Modal --------------------->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <%- include('../partials/footer.ejs') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
        <script src="/scripts/cropeProfilePics.js"></script>
        </body>


        </html>
